body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

/* Additions */
.button {
    border-color: lightgrey;
    color: grey;
    background-color: white;
    text-align: center;
}

.other {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.previous {
    position:absolute;
    right: 50px;
    color: orange;
}

.next {
    position:absolute;
    right: 8px;
    color: orange;
}

.circle{
    float: right;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.supraAdd {
    vertical-align:super;
}

.subAdd {
    vertical-align:sub;
}

.double{
    text-decoration-style: double;
}

